server:
  port: 8080
spring:
  application:
    name: greeting-service
  config:
    import: optional:configserver:http://localhost:8888/
  cloud:
    config:
      profile: qa
greeting-service:
  greeting: "Hola"
  default-value: "Mundo"
management:
  endpoints:
    web:
      exposure:
        include:
        - '*'