server:
  port: 8765
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
management:
  endpoints:
    web:
      exposure:
        include:
        - '*'    
spring:
  application:
    name: api-gateway  
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
      - id: cambio-service
        uri: lb://cambio-service
        predicates:
        - Path=/cambio/**
        filters:
        - RewritePath=/cambio/(?<path>.*), /$\{path}
      - id: book-service
        uri: lb://book-service
        predicates:
        - Path=/book/**
        filters:
        - RewritePath=/book/(?<path>.*), /$\{path}
      - id: openapi
        uri: lb://api-gateway
        predicates:
        - Path=/v3/api-docs/**
        filters:
        - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs